/* ====================================
// css variables
// ==================================== */

:root {
  --beige: #ebead2;
  --grey: #979797;
  --white: #fff;
  --black: #000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 150% */
  letter-spacing: 0.313px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.section {
  display: flex;
  background: var(--beige);
  margin: 15px;
  padding: 15px;
}

.box {
  border: 1px solid var(--grey);
  background: var(--white);
  padding: 20px;
  margin: 10px;
}

.section-1 .box {
  flex-grow: 1;
  margin: 0;
  padding: 10px;
}

.section-2 .box {
  flex-grow: 1;
  width: 50%;
  padding: 10px;
  margin: 0;
}

.section-2 {
  flex-wrap: wrap;
}

.section-3 {
  justify-content: center;
}

.section-4 .box {
  flex-grow: 1;
  width: calc(50% - 10px);
  padding: 10px;
  margin: 0;
}

.section-4 {
  flex-wrap: wrap;
  gap: 12px;
}

.section-5 {
  justify-content: flex-end;
  align-items: center;
  align-content: baseline;
  padding: 10px;
  margin: 0;
}

.section-5 .box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-5 .box-1 {
  width: 100px;
  height: 75px;
}

.section-5 .box-3 {
  width: 100px;
  height: 98.684px;
  flex-shrink: 0;
}

.section-5 .box-2 {
  width: 100px;
  height: 148.026px;
  flex-shrink: 0;
}

.section-5 .box-4 {
  width: 100px;
  height: 197.368px;
  flex-shrink: 0;
}

/* =====
===============================
// base rules
// ==================================== */
